/*Imagen con atributo alt;*/
img[alt]{
	border: 5px solid tomato;
}

/*Imagen con cadena EXACTA*/
img[src="img/nanachi.jpg"]{
	width: 50%;
}

/*Imagen con atributo SRC con el inicio de la cadena*/
img[src^="img"]{
	border: 50px solid lightblue;
}

/*Imagen con atributo SRC con el final de la cadena*/
img[src$="jpg"]{
	border: 10px solid lightyellow;
}

/*Imagen con atributo SRC en cualquier parte de la cadena*/
img[src*="ana"]{
	border: 42px solid lightgreen;
}

/*El caracter "~" indica que estos selectores*/
/*estan separados por espacios*/
article[class~="resaltado"]{
	border: 5px dashed lightgray;
}

article[class~="archivo"]{
	border: 5px dashed brown;
}

article[class~="ingles"]{
	border: 5px dashed lime;
}


/*
El atributo Class/Id es una lista de
valoress separado por guiones */
article[class|="ingles"]{
	font-weight: bold;
}

/*Selector de secundarios.
Selecciona solamente las que se 
encuentran inmediatamente despues 
del <div>*/

/*Solo hijos directos de Div*/
div > p {
	font-weight: bold;
	color: blue;
}
/*
Todos los elementos <p> seran
seleccionados*/

div p{
	color: red;
}
/*Seleccionar dolo el elemento <p> 
que esta inmediatamente despues del
elemento <h2> - Hermano adyacente*/
h2 + p{
	color: green;
}

/*Seleccionar todos los elementos <p>
del elemento especificado - Hermano General*/
h2 ~ p{
	color: rgba(255,0,150,1);
}
/*Poner en color verde el texto de las secciones menos el
id="Referencias"*/
#Resumen,#Experimento,#Pruebas,#Resultados,#Conclusiones{
	color: green;
}

/*Poner en color rosa el texto de las secciones menos el
id="Referencias"*/
section:not(#Referencias){
	color: hotpink;
}

li:nth-child(odd){/*Impares*/	
	color: tomato;
}

li:nth-child(even){/*Pares*/
	color: yellow;
}

li:nth-child(7){ /*N elemento*/
	color: gray;
}

li:nth-last-child(2){ /*N Elemento de abajo hacia arriba*/

	font-weight: bold;
	color:purple;
}

p:first-line{
	font-weight: bold;
}












