body{
	border: 1px solid blue;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;	
}

header{
	background: lightpink;
	margin-bottom: 10px;

}

header nav{
	background: #0E7CB0;
	border-radius: 5px;
	margin: 0px auto;
	padding: 2px 0px;
	width: 99.9%;
}


header nav form{
	margin-right: 20px;
	margin-top: -37px;
	float: right;
}

header nav form input{
	border-radius: 5px; 
}

header nav form input[type="button"]{
	background: green;
	border-color: green;
	color: white;

}

header nav ul li{
	color: white;
	display: inline-block;
	margin-right: 20px;
	margin-top: 2px;
}

#seccion01{
	margin-top: 10px;
}

#seccion01 article{

	text-align: center;

}

#seccion01 article img{
	border: 5px solid rgba(50,50,50,.5);
	width: 98%;
}

#logo{
	margin-top: -150px;
}