body{
	font-size: 16px;
	color: white;
	margin: 0px auto;
	max-width: 1078px;
	min-width: 1078px;
	background: #2B2B2B;
}


header{
	

}

header img{
	max-width: 1000px;
}

header input {
	float: left;
}

article{
	border: 1px solid tomato;
}

#seccVerde{
	background-color: #BAD65C;
}

#seccGris{
	background-color: #545454;
}

#seccRojo{
	background-color: #d52e3f; 
}

#seccBlanco{
	background-color: #e4e4e4; 
}

.colorblanco{
	color: white;
}


.colorgris{
	color: gray;
}

.colorLgris{
	color: lightgray;
}

.nito{
	font-weight: bold;
}

