body{

	background: lightpink;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;

}

#frmUsuarios{
	display: none;
}

#secInicio,#frmUsuarios{

	margin: 0 auto;
	margin-top: 50px;
	width: 450px;

}

