body{
	font-size: 16px; /*1 em*/
	margin: 0px;
	max-width: 1078px;
	min-width: 1078px;
}

header input{
	float: right;
	margin-right: -250px;
	margin-top: 10px;
	position: relative;
}

#granthams{
	margin-top: 20px;
	margin-left: 15px;
}

#paint{
	float: right; 
}